<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>


<article class="about">
    <h2>About Me</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, aliquid nesciunt natus delectus reiciendis consectetur modi molestiae? Neque animi, nulla eum quisquam, nesciunt dignissimos quam magni dolorum impedit veniam nam? Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Aspernatur, similique. A aspernatur distinctio nobis dolore cumque aliquid vel tempore sunt possimus, perferendis laboriosam expedita, earum minus fugit, numquam dolores rerum? Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Voluptates, magnam ducimus amet reprehenderit accusantium voluptas fuga doloremque, molestiae perspiciatis, deleniti delectus omnis. Sequi rem, possimus molestiae harum quae cumque eaque.
    </p>
</article>