<h2>YSCT Blog</h2>

<div id="welcome">
    <h3>Welcome to YSCT</h3>
    <p>Software Developer</p>
    <p>Student in CETI</p>
</div>
<div id="speak">
    <h4>Speak</h4>
    <ul>
        <li>Spanish</li>
        <li>English</li>
        <li>French</li>
        <li>German</li>
        <li>Italian</li>
    </ul>
</div>
<div id="development">
    <h4>Programing</h4>
    <ul>
        <li>C++</li>
        <li>Javascript</li>
        <li>CSS</li>
        <li>Node Js</li>
        <li>Angular</li>
        <li>MongoDB</li>
        <li>Express</li>
    </ul>
</div>

<div class="clearfix"></div>