<header>
    <ul>
        <li><a [routerLink]="['/About']" [routerLinkActive]="['activeLink']">About Me</a></li>
        <li><a [routerLink]="['/Contact']" [routerLinkActive]="['activeLink']">Contact</a></li>
        <li><a [routerLink]="['/']" id="logo">YSCT</a></li>
        <li><a [routerLink]="['/Projects']" [routerLinkActive]="['activeLink']">Projects</a></li>
        <li><a [routerLink]="['/New-Project']" [routerLinkActive]="['activeLink']">New Project</a></li>
    </ul>
</header>
<section id="content">
    <router-outlet></router-outlet>
</section>